* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: row;
  background-color: rgb(255, 235, 205);
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
}
.player-1 {
  height: 100vh;
  width: 30vw;
  background-color: rgb(226, 120, 120);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 10px solid black;
  border-radius: 15px;
}
.player-1 h1 {
  display: none;
}
.player-2 {
  height: 100vh;
  width: 30vw;
  background-color: rgb(150, 116, 116);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 10px solid black;
  border-radius: 15px;
  opacity: 0.6;
}

.player-2 h1 {
  display: none;
}

.players-font-size {
  padding: 30px 0 0 0;
  font-size: 40px;
  font-weight: bold;
}
.score {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}
.current-score {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: aliceblue;
  height: 10vh;
  width: 10vw;
  background-color: rgb(223, 171, 108);
  margin-bottom: 70px;
}

.middle-layer {
  position: absolute;
  transform: translate(-50%, 0);
  left: 50%;
  width: 10vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

button {
  background-color: #4bbd2f;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  transition: background-color 0.3s ease;
  position: relative;
}
button:focus {
  outline: none;
}
button:hover {
  background-color: #5bd613;
}

button .circle {
  top: 27px;
  left: 8;
  position: absolute;
  background-color: rgb(221, 90, 90);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  animation: scale 0.5s ease-out;
}
@keyframes scale {
  to {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0.1;
  }
}

button:active {
  background-color: #367c39;
  transform: translateY(2px);
}
#slider {
  width: 100%;
  overflow: hidden;
}

#slider img {
  border-radius: 5px;
  width: 100%;
  display: none;
}

#slider img.active {
  display: block;
}

.container {
  width: 100px;
  margin-top: 10px;
}

.dice-position {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
li {
  padding: 5px;
}
.rool-dice-hold-buttons {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#input-container {
  background-color: #b8820f;
  padding: 50px;
  border-radius: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.9;
  border: 10px solid black;
}

#input-container.hidden {
  display: none;
}
#input-container h2 {
  padding-top: 50px;
}
#input-container h1 {
  padding-bottom: 50px;
}
#submit-button {
  margin-top: 50px;
  position: relative;
}

#number-input {
  text-align: center;
  font-size: 24px;
}

ol {
  list-style-type: disc;
}

.sound-icon {
  cursor: pointer;
}
.audio-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  background-color: lightblue;
}

.sound-icon {
  cursor: pointer;
  background-color: black;
  width: 30px;
  height: 30px;
  background-color: rgb(255, 235, 205);
}

.dice-image {
  width: 150px;
  height: 150px;
}

@media (max-width: 700px) {
  * {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
  }

  body {
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 235, 205);
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
  }
  .player-1 {
    height: 100vh;
    width: 50vw;
    background-color: rgb(226, 120, 120);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 5px solid black;
    border-radius: 7px;
  }
  .player-1 h1 {
    display: none;
  }
  .player-2 {
    height: 100vh;
    width: 50vw;
    background-color: rgb(150, 116, 116);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 5px solid black;
    border-radius: 7px;
    opacity: 0.6;
  }

  .player-2 h1 {
    display: none;
  }

  .players-font-size {
    padding: 15px 0 0 0;
    font-size: 20px;
    font-weight: bold;
  }
  .score {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
  }
  .current-score {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: aliceblue;
    height: 10vh;
    width: 10vw;
    background-color: rgb(228, 131, 12);
    margin-bottom: 70px;
  }

  .middle-layer {
    position: absolute;
    transform: translate(-50%, 0);
    left: 50%;
    width: 10vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  button {
    background-color: #4bbd2f;
    border: none;
    color: white;
    padding: 7px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  button:hover {
    background-color: #5bd613;
  }

  button:active {
    background-color: #367c39;
    transform: translateY(2px);
  }
  #slider {
    width: 100%;
    overflow: hidden;
  }

  #slider img {
    border-radius: 3px;
    width: 100%;
    display: none;
  }

  #slider img.active {
    display: block;
  }

  .container {
    width: 50px;
    margin-top: 5px;
  }

  .dice-position {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  li {
    padding: 3px;
  }
  .rool-dice-hold-buttons {
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  #input-container {
    background-color: #ddb224;
    padding: 25px;
    border-radius: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.9;
    border: 5px solid rgb(201, 43, 43);
  }

  #input-container.hidden {
    display: none;
  }
  #input-container h2 {
    padding-top: 25px;
  }
  #input-container h1 {
    padding-bottom: 25px;
  }
  #submit-button {
    margin-top: 25px;
    position: relative;
  }

  #number-input {
    text-align: center;
    font-size: 12px;
  }

  ol {
    list-style-type: disc;
    font-size: 10px;
  }

  .sound-icon {
    cursor: pointer;
  }
  .audio-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 5px;
    background-color: lightblue;
  }

  .sound-icon {
    cursor: pointer;
    background-color: black;
    width: 15px;
    height: 15px;
    background-color: rgb(255, 235, 205);
  }

  .dice-image {
    width: 75px;
    height: 75px;
  }
}
